# Ignorar todo por defecto
*

# Excepto wp-content y lo que hay dentro
!wp-content/
!wp-content/themes/
!wp-content/themes/twentytwentyfive/
!wp-content/themes/twentytwentyfive/**
!wp-content/themes/twentytwentyfive-child/
!wp-content/themes/twentytwentyfive-child/**
wp-content/themes/twentytwentyfive-child/node_modules/

!wp-content/uploads/
!wp-content/uploads/**
!wp-content/uploads/2025
!wp-content/uploads/2025/**
!wp-content/uploads/2026
!wp-content/uploads/2026/**

# Plugins: ignorar todos excepto los custom PDS
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/pds-motor-finder/
!wp-content/plugins/pds-motor-finder/**
wp-content/plugins/pds-motor-finder/node_modules/
wp-content/plugins/pds-motor-finder/node_modules/**
!wp-content/plugins/predictive-search-plugin/
!wp-content/plugins/predictive-search-plugin/**
!wp-content/plugins/pds-acf-block/
!wp-content/plugins/pds-acf-block/**

# Carpetas de sistema/caché
wp-content/uploads/cache/
wp-content/uploads/rank-math/
wp-content/uploads/siteground-optimizer-assets/
wp-content/uploads/wp-migrate-db/
wp-content/uploads/wpallexport/
wp-content/uploads/wpallimport/
wp-content/uploads/wpforms/
wp-content/uploads/wpml/

# Videos >100MB (límite GitHub)
# wp-content/uploads/YYYY/MM/archivo-grande.mov

# Añade aquí plugins custom con el mismo patrón
# !wp-content/plugins/mi-plugin-custom/
# !wp-content/plugins/mi-plugin-custom/**
!wp-content/plugins/acf-product-details-block/
!wp-content/plugins/acf-product-details-block/**
