@use 'variables' as *;

// HEADER PAG
@include mobile {
  html.has-modal-open {
    header.wp-block-template-part {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &.fullheader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}


header.wp-block-template-part {
  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: --wp--preset--color--base;

  &.headerup {
    transform: translateY(-13rem);
  }

  &.fullheader {
    transition: 0.35s;
    transform: translateY(0);
    border-bottom: none;
  }

  &+main {
    padding-top: 0;
    top: 8rem;
  }

  .Sub_Menus {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
  }



  .wp-block-buttons>.wp-block-button {
    border-radius: 1rem !important;
  }

  .wp-block-buttons {
    display: none;
  }

  @include laptop {
    .wp-block-buttons {
      display: block;
    }
  }
}