@use 'variables' as *;

// HEADER PAG
@include mobile {
  html.has-modal-open {
    header.wp-block-template-part {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &.fullheader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}


header.wp-block-template-part {
  padding: 0 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: --wp--preset--color--base;

  &.headerup {
    transform: translateY(-13rem);
  }

  &.fullheader {
    transition: 0.35s;
    transform: translateY(0);
    border-bottom: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgb(255, 255, 255, 0.7);
  }

  &+main {
    padding-top: 0;
    top: 8rem;
  }

  .Sub_Menus {
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
  }

  .wp-block-buttons>.wp-block-button {
    border-radius: 0.5rem !important;
  }

  .wp-block-site-logo {
    width: 100%;
    max-width: 6rem;
  }

  .menu {
    padding: 0.6rem 0.25rem !important;
  }

  @include laptop {

    .wp-block-site-logo {
      max-width: 12rem;
    }

    .menu {
      padding: 0.825rem 1.2rem !important;
    }
  }
}


.wp-block-navigation__responsive-container-close svg,
.wp-block-navigation__responsive-container-open svg {
  fill: currentColor;
  display: block;
  height: 40px;
  pointer-events: none;
  width: 40px;
}