/* Header-Start */

.header-menu .sub-menu.elementor-nav-menu--dropdown li:first-child a,
.header-menu .sub-menu.elementor-nav-menu--dropdown li:last-child a {
    border-radius: 0 !important;
}

.header-menu ul li .elementor-item-active,
.header-menu ul li a:hover {
    text-shadow: 0.7px 0 #FFFFFF, -0.7px 0 #FFFFFF !important;
    transition: all ease-in-out 0.2s !important;
    -webkit-transition: all ease-in-out 0.2s !important;
    -moz-transition: all ease-in-out 0.2s !important;
    -ms-transition: all ease-in-out 0.2s !important;
    -o-transition: all ease-in-out 0.2s !important;
}

.header-menu .sub-menu {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    margin-left: -18px !important;
}

.header-menu {
    position: relative !important;
}

.header-menu .header-sub-menus .highlighted:hover::after {
    opacity: 1 !important;
    transition: all ease-in-out 0.2s !important;
    -webkit-transition: all ease-in-out .2s !important;
    -moz-transition: all ease-in-out 0.2s !important;
    -ms-transition: all ease-in-out 0.2s !important;
    -o-transition: all ease-in-out 0.2s !important;
    transition-delay: 0.5s;
}

.header-menu .header-sub-menus a::after {
    content: '';
    position: absolute !important;
    bottom: -16px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    display: block !important;
    background-color: #8895B2 !important;
    border-radius: 20px 20px 0px 0px;
    height: 3px !important;
    width: 27px !important;
    z-index: 9 !important;
    opacity: 0 !important;
    transition: all ease-in-out 0.2s !important;
    -webkit-transition: all ease-in-out 0.2s !important;
    -moz-transition: all ease-in-out 0.2s !important;
    -ms-transition: all ease-in-out 0.2s !important;
    -o-transition: all ease-in-out 0.2s !important;
}

/* .header-menu .header-sub-menus .sub-arrow {
    display: none;
} */

/* Header-End */

/* Header-Popup-Start */

.header-menu-popup {
    backdrop-filter: blur(20px) !important;
}

.header-menu-popup .dialog-close-button {
    outline: none !important;
    box-shadow: none !important;
}

.btn a.elementor-button {
    align-items: center !important;
    justify-content: center !important;
}

/* Header-Popup-End */

/* Home Page Start */

/* Banner Section Start */

.home-bnr-title .elementor-heading-title span {
    font-weight: 800;
}

/* Banner Section End */

/* Perseverance Section Start */

.perse-details-block,
.perse-main-block {
    position: relative;
}

.perseverance-services {
    height: auto !important;
}

.perse-details-block::after {
    position: absolute;
    content: '';
    display: block;
    top: -40px;
    left: 53.5%;
    transform: translate(-53.5%, 0);
    height: 40px;
    width: 1px;
    background-color: #000000;
    z-index: 1;
}

.perseverance-services {
    backdrop-filter: blur(5.5px);
}

.perse-number {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

/* Perseverance Section End */

/* Solution Section Start */

.solutions-img-bg {
    height: 100% !important;
}

.solutions-img-bg::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 19px;
    background: linear-gradient(78deg, rgba(0, 51, 101, 0.80) 4.59%, rgba(124, 147, 169, 0.00) 87%);
}

/* Solution Section End */


/* Sustainability Section Start */

.sustainability-bg {
    position: relative;
}

.sustainability-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    background: rgba(10, 58, 94, 0.51);
    border-radius: 332.5px;
}

/* Sustainability Section End */

/* Home Page End */

/* About Page Start */

.common-red-btns .btn-red-gradient .elementor-button-text {
    text-align: left !important;
    padding-right: 10px;
}

.common-red-btns .btn-red-gradient .elementor-button-icon {
    align-items: end;
}

.common-title-color-style .elementor-heading-title span {
    color: #0A3A5E;
}

.common-blue-gradient-bg-style {
    background: radial-gradient(50% 50% at 50% 50%, #195B8D 32%, #013962 100%) !important;
}

.core-values-content-block {
    backdrop-filter: blur(5.5px) !important;
    height: 100% !important;
}

.cmn-slider-btn .elementor-swiper-button-prev svg,
.cmn-slider-btn .elementor-swiper-button-next svg {
    fill: transparent !important;
}

.core-values-content-main-block {
    height: 100% !important;
}

/* Core Values Section */

/* Recources Video Section Start */

.play-icon {
    top: 255px !important;
    left: 624px !important;
}

.play-icon .elementor-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0A3A5E;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.play-icon .elementor-icon:hover {
    border: 1px solid #FFFFFF;
}

/* Recources Video Section End */

/* Recources Titles Section Start */

.resources-titles {
    backdrop-filter: blur(2.5999999046325684px);
}

/* Recources Titles Section End */

/* Lab Capabilities Section Start */

.lab-capabilities-slider-block .swiper-slide {
    opacity: 0.3;
    transform: scale(0.88);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.lab-capabilities-slider-block .swiper-slide.swiper-slide-active {
    opacity: 0.3;
    transform: scale(0.88);
}

.lab-capabilities-slider-block .swiper-slide.swiper-slide-active+.swiper-slide {
    opacity: 1;
    transform: scale(1);
    z-index: 2;
}

.lab-capabilities-slider-block .swiper-slide>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Lab Capabilities Section End */

/* About Page End */

/* Sustainability Page Start */

/* Sustainability Section Start */

.page-title-green-effect {
    backdrop-filter: blur(6.5px);
}

.cmn-env-main-block {
    box-shadow: 0px 4px 7.9px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(9.899999618530273px);
}

.cmn-env-main-block .env-description ul {
    padding-left: 20px !important;
}

.cmn-env-main-block .env-description ul li strong {
    display: block !important;
    margin: 8px 0 !important;
}

.cmn-env-main-block .cmn-env-icon {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}

.common-red-arrow-btn span.elementor-button-icon.dev-sus-btn {
    margin-right: -54px !important;
}

.dev-sus-desc-main-block,
.dev-sus-desc-inner-block {
    height: 100% !important;
}

.report-btn-block {
    left: 50% !important;
    transform: translate(-50%, 0);
}

.report-btn-block .elementor-button-icon svg {
    height: 30px !important;
    width: 30px !important;
}

.btn-tranpernt-style {
    box-shadow: 0px 4px 7.9px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(9.899999618530273px);
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

/* Sustainability Section End */

/* Sustainability Page End */

/* News Page Start */

.news-listing-main-block {
    position: relative !important;
}

.news-item-excerpt {
    max-width: 346px !important;
}

.news-listing-bg-img {
    z-index: -1 !important;
}

/* Events Section Start */
.lets-work-contact-main-block {
    backdrop-filter: blur(2px) !important;
}

/* Events Section End */

/* News Page End */

/* Privacy Policy Page Start */

.pp-right-bg-img {
    z-index: -1 !important;
}

.typography-content h1,
.typography-content h2,
.typography-content h3,
.typography-content h4,
.typography-content h5,
.typography-content h6 {
    color: #FFF;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
}

.typography-content h1 {
    font-size: 50px;
    line-height: 55px;
}

.typography-content h2 {
    font-size: 46px;
    line-height: 51px;
}

.typography-content h3 {
    font-size: 40px;
    line-height: 45px;
}

.typography-content h4 {
    font-size: 34px;
    line-height: 39px;
}

.typography-content h5 {
    font-size: 30px;
    line-height: 35px;
}

.typography-content h6 {
    font-size: 28px;
    line-height: 33px;
}

.typography-content strong {
    color: #343434;
    font-family: 'Galyon Book', serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.typography-content a {
    text-decoration: underline !important;
    transition: color 0.3s ease !important;
    -webkit-transition: color 0.3s ease !important;
    -moz-transition: color 0.3s ease !important;
    -ms-transition: color 0.3s ease !important;
    -o-transition: color 0.3s ease !important;
}

.typography-content ul,
.typography-content ol {
    padding: 0 0 0 20px !important;
}

.typography-content ul li {
    position: relative;
    list-style: none !important;
}

.typography-content ul li::before {
    content: '-';
    position: absolute;
    left: -20px;
    top: 0;
    color: #343434;
    font-weight: bold;
}

.typography-content ol li {
    list-style-type: circle !important;
}

/* Privacy Policy Page End */

/* Resource Download Page Start */

.resource-btn-block .resource-btn,
.resource-btn-block .resource-btn a {
    width: 100% !important;
    height: 100% !important;
}

.resource-btn-block .resource-btn .elementor-button-wrapper {
    height: 100% !important;
}

.resource-btn-block .resource-btn a .elementor-button-content-wrapper {
    width: 100% !important;
    height: 100% !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.resource-btn .elementor-button-icon svg {
    height: 30px !important;
    width: 30px !important;
}

/* Resource Download Page End */

/* Drive System Page Start */

.header-cmn-bg-style-block {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(244, 0, 0, 0.60) 100%), #0A3A5E;
    backdrop-filter: blur(2px);
}

.h-drive-sys-menu .elementor-menu-toggle {
    background: none !important;
}

.h-drive-sys-menu .elementor-menu-toggle .elementor-menu-toggle__icon--open svg {
    fill: transparent !important;
}

.h-drive-sys-menu:has(.elementor-active) .elementor-nav-menu--dropdown {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(244, 0, 0, 0.60) 100%), #0A3A5E !important;
    backdrop-filter: blur(2px) !important;
}

.drs-about-desc-main-block {
    backdrop-filter: blur(53.25px);
}

.ps-details-block {
    backdrop-filter: blur(5.599999904632568px);
}

.ps-sub-title-main-block {
    backdrop-filter: blur(3.8499999046325684px);
}

.ps-desc-main-block,
.ps-description-main-block {
    height: 100% !important;
}

.drs-titles-slider-block .resources-titles {
    height: 100% !important;
}

.drs-news-slider-block .elementor-swiper-button-prev,
.drs-news-slider-block .elementor-swiper-button-next {
    display: none !important;
}

.drive-system-title.page-main-title .elementor-heading-title::after {
    background: rgba(19, 85, 133, 0.50) !important;
    backdrop-filter: blur(6.5px) !important;
    opacity: 1;
}

/* Drive System Page End */

/* Electronics Page Start */

.electronic-dev-slider .electronic-dev-slider-img {
    position: relative;
}

.electronic-dev-slider .electronic-dev-slider-img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(270deg, rgba(0, 51, 101, 0.80) 4.59%, rgba(124, 147, 169, 0.00) 87%);
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.services-accordion-img {
    position: relative;
}

.services-accordion-img::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 51, 101, 0.80) 4.59%, rgba(124, 147, 169, 0.00) 87%);
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

.services-accordion .e-n-accordion-item-title-icon {
    background-color: #5E77A3 !important;
    padding: 12px !important;
    border-radius: 50px !important;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}

.services-accordion .e-n-accordion-item-title-icon svg {
    fill: transparent !important;
}

.services-accordion .services-accordion-content-block {
    margin-top: -8px !important;
    border: none !important;
}

.cmn-video-icon .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    background: #0A3A5E;
    border: 1px solid #0065AF !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    transition: all 0.3s ease-in-out !important;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
}

.cmn-video-icon .elementor-custom-embed-image-overlay .elementor-custom-embed-play:hover {
    background: rgba(0, 101, 175, 0.4) !important;
}

.cmn-video-icon .elementor-custom-embed-image-overlay .elementor-custom-embed-play svg {
    position: relative;
    left: 3px !important;
}

.wode-range-content-block .elementor-button-link {
    width: 100% !important;
}

/* Ectis Section Start */

.ectis-main-block {
    box-shadow: 0px 11px 26.8px 0px rgba(10, 58, 93, 0.10);
    backdrop-filter: blur(14.261665344238281px);
    opacity: 1;
}

.application-img-slider .application-img-slider-block .elementor-widget-image {
    width: 100% !important;
}

/* Ectis Section End */

/* Electronics Page End */

/* Wiper Electronics Page Start */

/* Wiper System Electronics Page Start */

.electronics-system-page-title.page-main-title .elementor-heading-title::after {
    background: rgba(19, 85, 133, 0.50) !important;
    backdrop-filter: blur(6.5px) !important;
}

/* Wiper System Electronics Page End */

.wiper-electronic-system-inner-banner {
    position: relative;
}

.wiper-electronic-system-inner-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(108deg, rgba(8, 56, 113, 0.80) 44.2%, rgba(8, 56, 113, 0.16) 93.92%);
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

/* Wiper Electronics Page End */

/* Plastice Division Start */

.plastic-division-bnr-block {
    position: relative;
}

.plastic-division-bnr-block::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(7, 120, 137, 0.00) 21.41%, rgba(23, 72, 80, 0.60) 65.21%, rgba(3, 33, 38, 0.90) 97.25%);
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.product-lines-img {
    position: relative;
}

.product-lines-img::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(7, 120, 137, 0.20) 0%, rgba(7, 120, 137, 0.20) 100%), linear-gradient(180deg, rgba(7, 120, 137, 0.00) 24.13%, #05373F 100%);
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

/* Plastice Division End */

/* Tank System Page Start */

.product-line-banner-bg {
    position: relative;
}

.product-line-banner-bg::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(7, 120, 137, 0.00) 21.41%, rgba(23, 72, 80, 0.60) 65.21%, rgba(3, 33, 38, 0.90) 97.25%) !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    z-index: -1;
}

.accessories.product-line-banner-bg {
    position: relative;
}

.accessories.product-line-banner-bg::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(7, 120, 137, 0.00) 36.28%, rgba(18, 91, 102, 0.60) 71.4%, rgba(10, 59, 66, 0.90) 97.09%) !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    z-index: -1;
}

.washer-bnr-thumbnail-img {
    z-index: -1 !important;
}

.washer-system-about-block {
    position: relative;
}

.washer-system-about-block::after {
    content: "";
    position: absolute !important;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(7, 120, 137, 0.00) 30.47%, rgba(25, 104, 116, 0.47) 55.29%, rgba(13, 69, 77, 0.70) 73.46%) !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    z-index: 1;
}

/* Tank System Page End */

/* Search Page Start */

.h-search-btn a:focus {
    background-color: rgba(244, 0, 0, 0.55);
}

.s-popup-main-block .dialog-close-button:focus-visible {
    outline: none !important;
}

.s-popup-main-block {
    z-index: 90 !important;
}

.search-main-full-block {
    backdrop-filter: blur(10px);
}

.search-result-main-block {
    height: 100dvh !important;
}

.search-result-main-block .news-item-main-parent {
    height: 100% !important;
}

.search-result-main-block,
.search-field-main-block {
    backdrop-filter: blur(10px) !important;
}

.search-result-posts-main-block .e-loop-nothing-found-message {
    padding: 20px 0 0 0 !important;
}

.search-result-main-block:has(.search-not-found-main-block) .search-result-title-main-block {
    display: none;
}

.search-input-field .e-search-submit {
    display: none !important;
}

.search-result-title-divider .elementor-divider {
    padding: 0 !important;
}

.search-featured-img,
.search-featured-img .elementor-widget-theme-post-featured-image {
    height: 100% !important;
}

.search-featured-img a {
    height: 100% !important;
    width: 100% !important;
}

.search-result-title-divider .elementor-divider-separator {
    backdrop-filter: blur(10px) !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}

/* Search Page End */

/* Drive Syatem Single Page Start */

.drive-system-market-s-post-bnr-bg {
    position: relative;
}

.drive-system-market-s-post-bnr-bg::after {
    content: '';
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(10, 58, 94, 0.00) 77.06%, #0A3A5E 114.91%), linear-gradient(0deg, rgba(10, 58, 94, 0.50) 0%, rgba(10, 58, 94, 0.50) 100%) no-repeat;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
    z-index: -1 !important;
    pointer-events: none !important;
}

/* Drive Syatem Single Page End */

/* Product Category Single Page Start */

.drive-system-cat-title.page-main-title .elementor-heading-title {
    padding: 52px 40px 42px 0 !important;
}

.ms-thumb-img-block {
    height: 250px !important;
}

.ms-thumb-img-block .news-item-thumbnail {
    height: 100% !important;
}

/* Product Category Single Page End */

/* ----------------------- media - queries  ----------------------- */

@media (max-width: 2560px) {
    /* Sustainability Page Start */

    .piller-curve-img {
        left: clamp(354px, -608.00px + 50.08vw, 674px) !important;
    }

    /* Sustainability Page End */
}

@media (max-width: 1920px) {
    /* Sustainability Page Start */

    .piller-curve-img {
        left: clamp(154px, -572.35px + 48.04vw, 350px) !important;
    }

    /* Sustainability Page End */
}

@media (min-width: 1840px) {
    .perse-bg-img {
        background-size: cover !important;
        background-position: center clamp(80px, 435.56px + -13.89vw, 180px) !important;
    }
}

@media (min-width: 1550px) {
    .drs-main-block {
        background-position: center right !important;
    }
}

@media (max-width: 1450px) {
    .resources-title-up-block .resources-titles {
        width: 49% !important;
    }
}

@media (max-width: 1512px) {

    /* Sustainability Page Start */
    .piller-curve-img {
        left: clamp(80px, -622.49px + 51.39vw, 154px) !important;
    }

    /* Sustainability Page End */
}

@media (max-width: 1366px) {
    /* Perseverance Section Start */

    .perse-details-block::after {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .perse-top-img {
        top: -450px !important;
        left: clamp(68px, -528.86px + 49.70vw, 150px) !important;
    }

    /* Perseverance Section End */

    .sustainability-circle-img {
        left: clamp(90px, -492.30px + 48.48vw, 170px) !important;
    }

    .core-values-sliders .swiper-slide {
        max-width: 400px !important;
        width: 100% !important;
    }

    .resources-cat-main-block .cmn-red-arrow-btn {
        width: 280px !important;
    }

    /* Resources Section */

    .play-icon {
        top: clamp(175px, -258.73px + 36.14vw, 235px) !important;
        left: clamp(584px, 294.84px + 24.10vw, 624px) !important;
    }

    .play-icon .elementor-icon {
        padding: 20px !important;
    }

    /* Resources Section */

    /* Sustainability Page Start */

    .piller-curve-img {
        left: clamp(18px, -244.04px + 21.82vw, 54px) !important;
    }

    .cmn-env-icon.cmn-left-icon {
        left: clamp(-64px, 184.36px + -18.18vw, -34px) !important;
    }

    /* Sustainability Page End */

    /* News Page Start */
    .news-item-excerpt {
        max-width: clamp(250px, -186.73px + 36.36vw, 310px) !important;
    }

    /* News Page End */

    /* TYpography Page Start */

    .typography-content h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .typography-content h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .typography-content h3 {
        font-size: 38px;
        line-height: 44px;
    }

    .typography-content h4 {
        font-size: 32px;
        line-height: 36px;
    }

    .typography-content h5 {
        font-size: 28px;
        line-height: 32px;
    }

    .typography-content h6 {
        font-size: 26px;
        line-height: 32px;
    }

    /* TYpography Page End */

    .cmn-video-icon .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
        padding: 20px;
    }

    /* Product Category Single Page Start */

    .drive-system-cat-title.page-main-title .elementor-heading-title {
        padding: 30px 30px 30px 0 !important;
    }

    /* Product Category Single Page End */
}

@media (max-width: 1200px) {

    /* Header Start */
    .header-menu .header-sub-menus a::after {
        display: none !important;
    }

    .header-menu-popup .header-menu .header-nav-menu:not(.header-sub-menus)>a {
        display: inline-block !important;
    }

    .header-menu-popup .header-menu ul li a:hover {
        text-shadow: 0.3px 0 #FFFFFF, -0.3px 0 #FFFFFF !important;
        transition: all ease-in-out 0.2s !important;
        -webkit-transition: all ease-in-out 0.2s !important;
        -moz-transition: all ease-in-out 0.2s !important;
        -ms-transition: all ease-in-out 0.2s !important;
        -o-transition: all ease-in-out 0.2s !important;
    }

    .header-menu .header-sub-menus .sub-arrow {
        display: block;
    }

    .header-menu .header-sub-menus a {
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .header-menu-popup .header-menu .header-sub-menus ul {
        position: relative !important;
        width: 100% !important;
        left: 38px !important;
        margin: 0 0 26px 0 !important;
        background: transparent !important;
        border: none !important;
        padding: 0 !important;
        transition: all ease-in-out 0.2s !important;
        -webkit-transition: all ease-in-out 0.2s !important;
        -moz-transition: all ease-in-out 0.2s !important;
        -ms-transition: all ease-in-out 0.2s !important;
        -o-transition: all ease-in-out 0.2s !important;
    }

    .header-menu-popup .header-menu .header-sub-menus ul li a {
        display: inline-block !important;
        padding: 0 !important;
        border-inline-start: none !important;
    }

    .header-menu-popup .header-menu .header-sub-menus ul li {
        padding-bottom: 17px;
    }

    .header-menu-popup .header-menu .header-sub-menus ul li:last-child {
        padding-bottom: 0 !important;
    }

    .header-menu .menu-item-has-children a[aria-expanded="true"] span svg {
        height: 16px;
        transform: scaleY(-1);
    }

    .header-menu .menu-item-has-children a span svg {
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    /* Header End */

    .perse-top-img {
        top: clamp(-380px, -311.43px + -5.71vw, -370px) !important;
        left: clamp(31px, -478.57px + 49.71vw, 118px) !important;
    }

    .sustainability-circle-img {
        top: -120px !important;
        left: clamp(10px, -341.43px + 34.29vw, 70px) !important;
    }

    .core-values-sliders .swiper-slide {
        max-width: 370px !important;
        width: 100% !important;
    }

    /* Resources Section */

    .play-icon {
        top: clamp(135px, -16.25px + 17.19vw, 190px) !important;
        left: clamp(410px, -68.50px + 54.37vw, 584px) !important;
    }

    /* Resources Section */

    .cmn-env-icon.cmn-left-icon {
        left: clamp(-20px, 7.56px + -2.30vw, -16px) !important;
    }

    /* Sustainability Page End */

    /* News Page Start */
    .news-item-excerpt {
        max-width: clamp(210px, -24.29px + 22.86vw, 250px) !important;
    }

    /* News Page End */

    /* Typography Page Start */

    .typography-content h1 {
        font-size: 36px;
        line-height: 40px;
    }

    .typography-content h2 {
        font-size: 36px;
        line-height: 46px;
    }

    .typography-content h3 {
        font-size: 34px;
        line-height: 40px;
    }

    .typography-content h4 {
        font-size: 28px;
        line-height: 34px;
    }

    .typography-content h5 {
        font-size: 24px;
        line-height: 30px;
    }

    .typography-content h6 {
        font-size: 22px;
        line-height: 30px;
    }

    /* Typography Page End */

    /* Product Category Single Page Start */

    .drive-system-cat-title.page-main-title .elementor-heading-title {
        padding: 20px 20px 20px 0 !important;
    }

    /* Product Category Single Page End */
}

@media (max-width: 1024px) {
    .perse-top-img {
        top: -320px !important;
        left: clamp(-16px, -447.26px + 48.95vw, 54px) !important;
    }

    .sustainability-circle-img {
        top: -110px !important;
        left: 0 !important;
    }

    .core-values-sliders .swiper-slide {
        max-width: 340px !important;
        width: 100% !important;
    }

    .resources-cat-main-block .cmn-red-arrow-btn {
        width: 260px !important;
    }

    /* Sustainability Page Start */

    .piller-curve-img {
        left: 0 !important;
    }

    .cmn-env-icon.cmn-left-icon {
        left: clamp(-22px, -7.68px + -1.40vw, -20px) !important;
    }

    /* Sustainability Page End */

    /* News Page Start */
    .news-item-excerpt {
        max-width: clamp(170px, -76.43px + 27.97vw, 210px) !important;
    }

    .news-item-thumbnail {
        height: 180px !important;
    }

    /* News Page End */

    /* TYpography Page Start */

    .typography-content h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .typography-content h2 {
        font-size: 30px;
        line-height: 40px;
    }

    .typography-content h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .typography-content h4 {
        font-size: 26px;
        line-height: 30px;
    }

    .typography-content h5 {
        font-size: 22px;
        line-height: 28px;
    }

    .typography-content h6 {
        font-size: 20px;
        line-height: 28px;
    }

    /* TYpography Page End */

    .cmn-video-icon .elementor-custom-embed-image-overlay .elementor-custom-embed-play {
        padding: 18px;
    }

}

@media (max-width: 1023px) {

    .drs-news-slider-block .elementor-swiper-button-prev,
    .drs-news-slider-block .elementor-swiper-button-next {
        display: flex !important;
    }
}

@media (max-width: 880px) {
    .perse-top-img {
        top: -300px !important;
        left: clamp(-60px, -444.00px + 50.00vw, -4px) !important;
    }

    .sustainability-circle-img {
        top: -90px !important;
        left: 0 !important;
    }

    .core-values-sliders .swiper-slide {
        max-width: 300px !important;
        width: 100% !important;
    }

    /* Resources Section */

    .play-icon {
        top: clamp(135px, -16.25px + 17.19vw, 190px) !important;
        left: clamp(340px, -140.00px + 62.50vw, 410px) !important;
    }

    .resources-title-up-block .resources-titles {
        width: 48.5% !important;
    }

    /* Resources Section */

    .cmn-env-icon.cmn-left-icon {
        left: unset !important;
        right: -10px !important;
    }

    /* News Section Start */

    .news-listing-left-block,
    .news-right-side-main-block {
        width: 100% !important;
    }

    /* News Section End */

    /* News Page Start */
    .news-item-excerpt {
        max-width: clamp(280px, -200.00px + 62.50vw, 350px) !important;
    }

    .news-item-thumbnail {
        height: 100% !important;
    }

    /* News Page End */

    /* TYpography Page Start */

    .typography-content h1 {
        font-size: 30px;
        line-height: 36px;
    }

    .typography-content h2 {
        font-size: 26px;
        line-height: 36px;
    }

    .typography-content h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .typography-content h4 {
        font-size: 22px;
        line-height: 30px;
    }

    .typography-content h5 {
        font-size: 20px;
        line-height: 26px;
    }

    .typography-content h6 {
        font-size: 18px;
        line-height: 26px;
    }

    /* Typography Page End */

}

@media (max-width: 767px) {
    .perse-top-img-res {
        top: -180px !important;
        left: clamp(-2px, -159.49px + 49.22vw, 218px) !important;
    }

    .solutions-img-bg {
        height: auto !important;
    }

    .sustainability-circle-img {
        top: clamp(-90px, 69.79px + -20.83vw, -50px) !important;
        left: 0 !important;
    }

    .sustainability-bg {
        min-height: clamp(370px, 279.53px + 15.71vw, 400px) !important;
    }

    .about-main-parent {
        padding-top: clamp(280px, 219.69px + 10.47vw, 300px) !important;
    }

    .search-result-main-block {
        height: 100dvh !important;
    }

    .search-result-main-block .news-item-main-parent {
        height: auto !important;
    }

    .cmn-slider-btn .elementor-swiper-button-prev,
    .cmn-slider-btn .elementor-swiper-button-next {
        display: none !important;
    }

    .core-values-sliders .swiper-slide {
        max-width: 220px !important;
        width: 100% !important;
    }

    /* Resources Section */

    .play-icon {
        top: 130px !important;
        left: clamp(143px, -64.59px + 55.36vw, 360px) !important;
    }

    .play-icon .elementor-icon {
        padding: 14px !important;
    }

    .resources-title-up-block .resources-titles {
        width: 100% !important;
    }

    .lab-capabilities-slider-block .swiper-slide {
        opacity: 1 !important;
        transform: scale(1) !important;
    }

    /* Resources Section */

    .cmn-contact-title .elementor-heading-title,
    .cmn-word-brack-title-style .elementor-heading-title {
        word-break: break-all !important;
    }

    .piller-curve-img {
        left: -20px !important;
    }

    .cmn-env-icon.cmn-left-icon {
        right: -5px !important;
    }

    .dev-sus-desc-main-block,
    .dev-sus-desc-inner-block {
        height: auto !important;
    }

    /* News Page Start */

    .news-item-excerpt {
        max-width: clamp(190px, -21.10px + 36.65vw, 260px) !important;
    }

    /* News Page End */

    .drs-main-block {
        backdrop-filter: blur(5.599999904632568px) !important;
    }

    .ps-desc-main-block,
    .ps-description-main-block {
        height: auto !important;
    }

    .drs-news-slider-block .elementor-swiper-button-prev,
    .drs-news-slider-block .elementor-swiper-button-next {
        display: flex !important;
    }

    /* TYpography Page Start */

    .typography-content h1 {
        font-size: 26px;
        line-height: 36px;
    }

    .typography-content h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .typography-content h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .typography-content h4 {
        font-size: 20px;
        line-height: 30px;
    }

    .typography-content h5 {
        font-size: 18px;
        line-height: 24px;
    }

    .typography-content h6 {
        font-size: 16px;
        line-height: 26px;
    }

    /* TYpography Page End */

    /* Tank System Page Start */

    .washer-system-about-block::after {
        background: linear-gradient(224deg, rgba(10, 58, 94, 0.00) 54.9%, rgba(10, 41, 65, 0.47) 77.9%, rgba(10, 33, 50, 0.70) 94.73%) !important;
    }

    /* Tank System Page End */

    .search-featured-img {
        height: auto !important;
    }

    /* Product Category Single Page Start */

    .drive-system-cat-title.page-main-title .elementor-heading-title {
        padding: 12px 14px 12px 0 !important;
    }

    .ms-thumb-img-block {
        height: 232px !important;
    }

    /* Product Category Single Page End */
}

@media (max-width: 575px) {
    .sustainability-bg {
        min-height: clamp(605px, 425.50px + 47.74vw, 700px) !important;
    }

    .sustainability-circle-img-res img {
        width: 721px !important;
        height: 721px !important;
        object-fit: cover !important;
    }

    .sustaunability-content-block {
        width: 100% !important;
        gap: 40px !important;
    }

    .about-main-parent {
        padding-top: 220px !important;
    }

    .rnd-innovation-block {
        --e-con-grid-template-columns: repeat(1) !important;
        justify-content: center !important;
    }

    .piller-curve-img {
        display: none !important;
    }

    .piller-curve-img-res {
        display: block !important;
    }

    .news-loop-grid .elementor-loop-container {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    /* News Page Start */
    .news-item-excerpt {
        max-width: clamp(190px, 102.16px + 27.45vw, 260px) !important;
    }

    /* News Page End */
}

@media (max-width: 460px) {
    .new-job-section {
        padding-top: 88px !important;
        padding-bottom: 126px !important;
    }

    .new-job-main-block {
        margin-bottom: -202px !important;
    }

    .search-main-full-block {
        height: 100vh !important;
    }
}

@media (max-width: 400px) {
    .drs-main-block {
        background-position: 30px 526px !important;
    }
}

@media (max-width: 375px) {
    .sustainability-bg {
        min-height: 605px !important;
    }
}

@media (max-width: 370px) {
    .sustaunability-content-block .elementor-heading-title {
        font-size: 30px !important;
    }

    .play-icon {
        left: clamp(110px, -101.20px + 66.00vw, 143px) !important;
    }

    .drs-main-block {
        background-position: bottom right !important;
    }

    .electronics-page-title {
        width: 320px !important;
    }

    .drive-sys-found-main-block .new-job-section {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}

@media (max-width: 320px) {
    .cmn-contact-form .elementor-field-group {
        padding: 0 !important;
    }
}



/* ----------------------- media - queries  ----------------------- */